<%- include("partials/header"); -%>
<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">GD Bank</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 " aria-current="page" href="/">Home</a>
      <a class="nav-link fw-bold py-1 px-0" href="about">About</a>
      <a class="nav-link fw-bold py-1 px-0 active" href="contact">Contact</a>
    </nav>
  </div>
</header>
<h1>Contact Us</h1>
<p>Lorem Ipsum Press is licensed by Bionetwork Ltd. Our office is located within the company's building.</p>

<img src="http://www.loremipsumpress.com/images/bionetwork.png" alt="">
<br>
<h6>Address:
Keas 69 Str.
15234, Chalandri
Athens,
Greece

+30-2106019311 (landline)
+30-6977664062 (mobile phone)
+30-2106398905 (fax)</h6>

<%- include("partials/footer"); -%>
