<%- include("partials/header"); -%>
<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">GD Bank</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
      <a class="nav-link fw-bold py-1 px-0" href="about">About</a>
      <a class="nav-link fw-bold py-1 px-0" href="contact">Contact</a>
    </nav>
  </div>
</header>
  <main class="px-3">
    <h1 class="mainHead"><b>We Serve You Well</b></h1>
    <p class="lead">We are the best in our Sector</p>
    <p class="lead">
      <a href="customers" class="btn btn-lg btn-secondary fw-bold border-white bg-white">View All Customers</a>
    </p>
    <img src="https://www.pngmart.com/files/5/Bank-Transparent-Background.png" alt="">
  </main>

<%- include("partials/footer"); -%>
